.notfound-container {
  min-height: calc(75vh);
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 1% 3% 2%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}